/*variaveis (pra cor)*/
:root {
    --white: #ffffff;
    --text: #2f3640;
    --gray: #dcdde1;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
    color: var(--text);
    line-height: 1.6;
}

/*cabecalho*/
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 15px 30px;
}

/*conteudo header*/
.header-container {
    display: flex;
    align-items: center;
}

nav li a{
    color: var(--white);
    text-decoration: none;
}

/*imagens*/
header img {
    width: 90px;
}

.imgcurso{
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 600px;

}

/*titulos*/
.titulo {
    text-align: center;
    flex: 1;
}

.titulo h1 {
    font-size: 24px;
    font-weight: bold;
}

.titulo p {
    font-size: 14px;
}

h2 {
    margin-bottom: 15px;
    border-left: 5px solid;
    padding-left: 10px;
}

h3 {
    margin-top: 20px;
}

/*Barra de Pesquisa*/
.search-box {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.search-box input {
    border: none;
    padding: 10px 15px;
    outline: none;
    width: 180px;
}

.search-box button {
    border: none;
    color: var(--white);
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

/*p*/
p {
    margin: 10px 0;
}

/*lista*/
ul {
    margin-top: 10px;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

/*section e cards*/
section {
    max-width: 1100px;
    margin: 25px auto;
    padding: 25px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

section div {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid var(--gray);
    transition: all 0.3s ease;
    margin: auto;
}

#cursos-container a, #parceiros-container li a{
    color: var(--text);
    text-decoration:none;
}

/*hover no card*/
section div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);;
}

/*rodape*/
footer{
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    .search-box input {
        width: 100%;
    }

    section {
        margin: 15px;
    }
       
}
@media (max-width: 480px) {
    header img {
        width: 50px;
    }

    .imgcurso {
        max-width: 100%;
        margin: 10px 0;
    }
.btn-prova {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.btn-prova:hover {
    transform: scale(1.05);
}

